[client]
socket = /var/lib/mysql/mysql.sock
default-character-set=utf8mb4

[mysqld]
user = admin
port = 3306
datadir = /var/lib/mysql
log-bin = /var/lib/mysql/mysql-bin
bind-address = 0.0.0.0
skip-networking = false
socket = /var/lib/mysql/mysql.sock

[mysql]
user = admin
password = admin
port = 3306
socket=/var/lib/mysql/mysql.sock