[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
socket = /var/lib/mysql/mysql.sock

[mysql]
user = ivy
password = Fluffy
port = 3306
socket = /var/lib/mysql/mysql.sock