[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
log-bin = /var/lib/mysql/mysql-bin
skip-networking = false
socket = /var/lib/mysql/mysql.sock

[mysql]
user = lbisscho
password = password
port = 3306
socket = /var/lib/mysql/mysql.sock